.botonEliminar {
    text-decoration: none;
    background: linear-gradient(#97fad6,#0E9C67);
    color : black;
    font-size: 23px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    margin-left : 20px;
    font-family: arial;
    
    

    
}
.boton{
    font-size: 23px;
    color : black;
    font-family: arial;
    margin: auto;
    margin-right: 20px;
    margin-top: 48px;
    margin-bottom:42px;
    background: linear-gradient(#97fad6,#0E9C67);
    border-radius: 10px;
    cursor: pointer;

}

#formulariotroll {
  
    margin: center;
}

h1{

    margin: auto;
}
