body
{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
}
header{
    background-color: #6DCCAA;
}
nav{
width: 100%;
float: left;
background: #85d4b7;
height: auto;
}
nav img{
float: left;
width: 20%;
padding: 15px 25px;
height: 100%;
}
.enlaces
{
    color:white;
    background-color: #85D4B7;
    font-size: 20px;
    margin-left: 30px;
    text-decoration: none;
}
.direccion
{
    margin-left: 10%;
    float: left;
}


#fondo_Iconos{
    width: 100%;
    height: 80px;
    background-color: #85D4B7;
    overflow: hidden;
}
#numero{
    float: left;
    color: white;
    font-size: 18px;
    margin-left: 2%;
    font-family:Arial Black,Arial Bold,Gadget,sans-serif; 
}
#titulo{
    color: white;
    width: 400px;
    font-size: 18px;
    font-family:Arial Black,Arial Bold,Gadget,sans-serif; 
    float: none;
    margin: auto;
    display: block;
    margin-top: 1%;
    text-align: center;
}
#iconos{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: -20px;
}
#iconos img{
    margin: 10px;
}


#rescate{
    width: 50%;
    float: right;
    margin: 1%;
}
#rescate h2, h3, h4, p{
    text-align: right;
}

#etapa1{
    float: right;
    margin-top: -10px;
}
#rescate img{
    float: right;
    width: 85%;
}

#crowdfunding{
    width: 30%;
    margin: 0%;
    margin-bottom: 1%;
}
#crowdfunding h2, h3, h4{
text-align: left;
}
#texto_crowfunding{
text-align: left;
}
#crowdfunding img{
    float: left;
}
#crowfunding_img{
    width: 74%;
    margin-bottom: 2%;
}
#campañas{
    width:20%;
    height: 10%;;
}
h3{
    color: rgb(95, 95, 95);
}
@media(max-width: 900px)
{
nav img{
    float: none;
    margin: auto;
    display: block;
}
.enlaces
{
    text-align: center;
    background-color: #6DCCAA;
    padding: 2%;
    border: solid 2px  #85D4B7;
    margin: auto;
    display: block; 
}
.direccion
{
    margin: 0;
    text-align: center;
    width: 100%;   
}
#fondo_Iconos p{
    visibility: hidden;
    display: none;
}
#iconos{
    float: none;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 3%;
}
#rescate{
    width: 100%;
}
#crowdfunding{
    width: 100%;
    margin: 4%;
}
#campañas{
    width: 25%;
}
}
