#formulario {
    margin: 2%;
}
#formulario h5{
    font-size: 24px;
}
input {
  float: left;
  width: 60%;
  margin-bottom: 10px;
  font-size: 20px;
}

select {
    float: left;
    width: 60%;
    margin-bottom: 10px;
    font-size: 20px;
}

label {
  clear: both;
  float: left;
  width: 30%;
  font-size: 20px;
}

button {
  clear: both;
  float: left;
  width: 10%;
  margin-top: 2%;
  height: 50px;
}

.error-control {
  border: 1px solid red;
}

label.error {
  color: red;
  width: 300px;
  font-size: 0.8em;
  margin-top: -5px;
  margin-bottom: 10px;
}
.alo{
    margin: 20px;
}
@media (max-width: 900px){
    button{
        width: 30%;
    }
    #formulario *{
        font-size: 13px;
    }
}