#fondo_galeria{
    margin-top: 150px;
    width: 100%;
    background-color: #6DCCAA;
}
.galeria, img{
    width: 130px;
    height: 160px;
}
.galeria, li {
    margin: 2%;
}
.galeria, li, p{
    text-align: center;
}
.galeria, ul{
    width: 100%;
}

#pnombre{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
#pestado{
font-family: Arial, Helvetica, sans-serif;
font-style: oblique;
}