.p {
    width: 100%;
    font-size: 40px;
    margin: auto;
    text-align: center;

}


#main {
    margin: 50px auto;
    width: 600px;
}

table {
    text-align: left;
    width: 100%;
    background-color: #aaffdf;
    border-collapse: collapse;
    font-size: 22px;
}

th,td {
    border: solid black 1px;
    padding: 25px;
}

thead {
    background-color: #85d4b7;
    border-bottom: solid 5px #619b86;
    font-family: arial;
    font-size: 25px;
}

tr:hover td{
    background-color: rgb(86, 196, 176)
}


.botones {
    text-decoration: none;
    background: linear-gradient(#97fad6,#0E9C67);
    color : black;
    font-size: 23px;
    border-radius: 10px;
    padding: 10px;
    
}
img{
    height: 200px;
    width: 150px;
}