.menu{
    font-size: 28px;
    color:black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2%;
    background-color: #6DCCAA;
}

li{
    list-style: none;
}
.list {
    list-style: none;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #6DCCAA;
}