.row1{
    display: block;
    margin: auto;
}
#c-slider{
    margin: auto;
    width: 100%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
}
#slider{
    display: flex;
    width: 300%;
}
#slider section{
    width: 100%;
}
#slider img{
display: block;
width: 100%;
height: 100%;
}
h1{
    color: black;
    position: absolute;
    top: 65%;
    margin-left: 5%;
    width: 50%;
}
#btn-prev, #btn-next{
    width:  40px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    border: solid 2px black;
    font-family: monospace;
    cursor: pointer;
}
#btn-prev:hover, #btn-next:hover{
    background: rgba(255,255,255,1);
}

#btn-prev{
    left: 15px;
}
#btn-next{
    right: 15px;
}

@media (max-width: 900px){
    h1{
        font-size: 16px;
    }
}