<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <title>Mis Perris</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/JavaS.js' %}"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="flexslider.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
</head>
<body>
    <header class="row">
        <div class="col-xs-12">
            <nav>
                <div>
                    <img src="{% static 'img/logo.png' %}" alt="Logo Mis perris">
                </div>
                <div class="direccion">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="enlaces">Desconectar</a></p>
                    {% else %}
                    <a href="{% url 'login' %}" class="enlaces"><span class="glyphicon glyphicon-plus"></span>Iniciar Sesión</a>
                    {% endif %}
                    <a class = "enlaces" href="{% url 'principal' %}">Inicio</a>
                    <a class = "enlaces" href = "quienes_somos.html">Quienes somos </a>    
                    <a class = "enlaces" href = "servicios.html">Servicios</a>
                    <a class = "enlaces" href = "contacto.html">Contactenos</a> 
                </div>
            </nav>
        </div>
    </header>
    <div>
        {% block content %}
        {% if validlink %}
        <div class="row">
            <p class= "parrafo">Nueva Contraseña</p>
        </div>
        
            <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                {{ form.new_password1.errors }}
                <label for="id_password1">Nueva contraseña:</label>
                {{ form.new_password1 }}
                
                {{ form.new_password2.errors}}
                <label for="id_new_password2">Confirme Contraseña</label>{{ form.new_password2 }}
                <input type="submit" value="Cambiar mi contraseña" />
            </form>

        {% else %}
        <h1 class="text-center">Enlace inválido: Este enlace ya ha sido utilizado</h1>
        {% endif %}
        {% endblock %}
    </div>
</body>
</html>