<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <title>Mis Perris</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/galeria.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/JavaS.js' %}"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="flexslider.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
</head>
<body>
    <header class="row">
        <div class="col-xs-12">
            <nav>
                <div>
                    <img src="{% static 'img/logo.png' %}" alt="Logo Mis perris">
                </div>
                <div class="direccion">
                    <a href="{% url 'login' %}" class="enlaces"><span class="glyphicon glyphicon-plus"></span>Iniciar Sesión</a>
                    <a class = "enlaces" href="{% url 'principal' %}">Inicio</a>
                    <a class = "enlaces" href = "quienes_somos.html">Quienes somos </a>    
                    <a class = "enlaces" href = "servicios.html">Servicios</a>
                    <a class = "enlaces" href = "contacto.html">Contactenos</a> 
                </div>
            </nav>
        </div>
    </header>
    <br>
    {% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="alo">
                    {{ form.as_p }}
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-xs-12 general">
                    <a href="{% url 'password_reset'%}">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
        <div class="row">
                <div>
                    <div class="col-xs-12 general">
                        <a href="{% url 'user_new' %}"><span class="glyphicon glyphicon-plus"></span>¿No tienes una cuenta? Registrate</a>
                    </div>
                </div>
            </div>
        <button type="submit" class="button">Iniciar sesión</button>
      </form>
    {% endblock %}
</body>
</html>