<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <title>Mis Perris</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'css/eliminar.css' %}">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/JavaS.js' %}"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="flexslider.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
</head>
<body>
    <header class="row">
        <div class="col-xs-12">
            <nav>
                <div>
                    <img src="{% static 'img/logo.png' %}" alt="Logo Mis perris">
                </div>
                <div class="direccion">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="enlaces">Desconectar</a></p>
                    {% else %}
                    <a href="{% url 'login' %}" class="enlaces"><span class="glyphicon glyphicon-plus"></span>Iniciar Sesión</a>
                    {% endif %}
                    <a class = "enlaces" href="{% url 'principal' %}">Inicio</a>
                    <a class = "enlaces" href = "quienes_somos.html">Quienes somos </a>    
                    <a class = "enlaces" href = "servicios.html">Servicios</a>
                    <a class = "enlaces" href = "contacto.html">Contactenos</a> 
                </div>
            </nav>
        </div>
        
    </header>
    <div  class = "row">
        <h1>¿Seguro quieres eliminar el registro de la mascota {{mascota.nombre}}?</h1>
    </div>
    
    <div>
        {% block content %}
        
        <form id= "formulariotroll" class = "row" method="post">
            {% csrf_token %}
            <button type="submit">Si, eliminar</button>
            <a class="botonEliminar" href="{% url 'mascota_admin' %}">Cancelar</a>
        </form>
        {% endblock %}
    </div>
</body>
</html>