<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <title>Mis Perris</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/galeria.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/JavaS.js' %}"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="flexslider.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
</head>
<body>
    <header class="row">
        <div class="col-xs-12">
            <nav>
                <div>
                    <img src="{% static 'img/logo.png' %}" alt="Logo Mis perris">
                </div>
                <div class="direccion">
                    {% block content %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="enlaces">Desconectar</a></p>
                    {% else %}
                    <a href="{% url 'login' %}" class="enlaces"><span class="glyphicon glyphicon-plus"></span>Iniciar Sesión</a>
                    {% endif %}
                    {% endblock %}
                    <a class = "enlaces" href="{% url 'principal' %}">Inicio</a>
                    <a class = "enlaces" href = "quienes_somos.html">Quienes somos </a>    
                    <a class = "enlaces" href = "servicios.html">Servicios</a>
                    <a class = "enlaces" href = "contacto.html">Contactenos</a> 
                </div>
            </nav>
        </div>
        <div class="row1">
            <div id="c-slider">
                <div id="slider">
                    <section>
                        <img src="{% static 'img/Apolo.jpg' %}" alt="Perro Apolod adoptado">
                        <h1>
                            "Estamos felices de tener a Apolo en nuestra casa, es un super fiel perro."
                        </h1>
                    </section>
                    <section>
                        <img src="{% static 'img/Duque.jpg' %}" alt="Perro Duque adoptado">
                        <h1>
                            "Estamos felices de tener a Duque en nuestra casa, es un super fiel perro."
                        </h1>
                    </section>
                    <section>
                        <img src="{% static 'img/Tom.jpg' %}" alt="Perro Tom adoptado">
                        <h1>
                            "Estamos felices de tener a Tom en nuestra casa, es un super fiel perro."
                        </h1>
                    </section>
                </div>
                <div id="btn-prev">
                    &#60;
                </div>
                <div id="btn-next">
                    &#62;
                </div>
            </div>
        </div>
    </header>
    <div class="row">
            <div id="fondo_Iconos">
                <div  class="col-xs-12"> 
                    <p id="numero">+56998765431</p>
                </div>
                <div  class="col-xs-12">
                    <p id="titulo">Rescate y adopción de perros callejeros</p>
                </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div id="rescate">
                <h2>RESCATE</h2>
                <div id="etapa1">
                    <h3>ETAPA 1</h3>
                    <h4>_______</h4>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarle un nuevo hogar.</p>
                <br>
                <img src="{% static 'img/rescate.jpg' %}" alt="Perro rescatado">
            </div>
        </div>
        <div id="crowdfunding">        
            <div>
                <img id="crowfunding_img" src="{% static 'img/crowfunding.jpg' %}" alt="crowfunding">
                <h2>CROWDFUNDING</h2>
                <h3>FINANCIAMIENTO</h3>
                <h4>_______</h4>
                <br>
                <p id="texto_crowfunding">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
                <br>
                <a href="campañas.html"><img id="campañas" src="{% static 'img/campañas.png' %}" alt="boton campañas"></a>
            </div>
        </div>
    </div>
        <div id="fondo_galeria">
                <select>
                        <option value="sin-filtro" selected>Sin Filtro</option>
                        <option value="rescatado">Rescatado</option>
                        <option value="adoptado">Adoptado</option>
                        <option value="disponible">Disponible</option>
                      </select>
                <ul class="row">
                    {% if mascota %}
                    {% for mascota in mascota %}
                        <li> <p id="pnombre">{{mascota.nombre}}</p>
                                <p id="pestado">{{mascota.estado}}</p>
                        <img src="http://127.0.0.1:8000/media/{{mascota.fotografia}}"></li>
                    {% endfor %}
                    {% else %}
                     <h1>No hay registros de mascotas</h1>
                    {% endif %}
                </ul>    
        </div>
        <div>
            <ul id="lista_perros">
                    <li class="list"><a href="{% url 'mascota_list' %}" class="menu"><span class="glyphicon glyphicon-plus"></span>Listar Mascotas</a></li>
                {% if user.is_superuser %}
                <li class="list"><a href="{% url 'mascota_new' %}" class="menu"><span class="glyphicon glyphicon-plus"></span>Registrar Mascota</a></li>
                <li class="list"><a href="{% url 'mascota_admin' %}" class="menu"><span class="glyphicon glyphicon-plus"></span class="menu">Administrar Mascota</a></li>
                {% endif %}
            </ul>
        </div>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
</body>
</html>