<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <title>Mis Perris</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/galeria.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'css/lista.css' %}">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/JavaS.js' %}"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="flexslider.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
</head>
<body>
    <header class="row">
        <div class="col-xs-12">
            <nav>
                <div>
                    <img src="{% static 'img/logo.png' %}" alt="Logo Mis perris">
                </div>
                <div class="direccion">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="enlaces">Desconectar</a></p>
                    {% else %}
                    <a href="{% url 'login' %}" class="enlaces"><span class="glyphicon glyphicon-plus"></span>Iniciar Sesión</a>
                    {% endif %}
                    <a class = "enlaces" href="{% url 'principal' %}">Inicio</a>
                    <a class = "enlaces" href = "quienes_somos.html">Quienes somos </a>    
                    <a class = "enlaces" href = "servicios.html">Servicios</a>
                    <a class = "enlaces" href = "contacto.html">Contactenos</a> 
                </div>
            </nav>
        </div>
    </header>
    <div>
        {% block content %}
        <div class="row">
                <p class= "p">Mascotas</p>
        </div>
        <table  id = "main"class="table table-bordered">
            <thead>
                <tr>
                    <td class = "titulos">Nombre</td>
                    <td class = "titulos">Fotografia</td>
                    <td class = "titulos">Raza</td>
                    <td class = "titulos">Descripción</td>
                    <td class = "titulos">Estado</td>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for mascota in object_list %}
                <tr>
                    <td>{{mascota.nombre}}</td>
                    <td><img src="http://127.0.0.1:8000/media/{{mascota.fotografia}}"></td>
                    <td>{{mascota.raza}}</td>
                    <td>{{mascota.descripcion}}</td>
                    <td>{{mascota.estado}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <h1>No hay registros de mascotas</h1>
                {% endif %}
            </tbody>
        </table>
        {% endblock %}
    </div>
</body>
</html>