<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <title>Mis Perris -- Registro</title>
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="{% static 'css/style_slider.css' %}">
        <link rel="stylesheet" href="{% static 'css/galeria.css' %}">
        <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/JavaS.js' %}"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="flexslider.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    </head>
    <body>
            <header class="row">
                    <div class="col-xs-12">
                        <nav>
                            <div>
                                <img src="{% static 'img/logo.png' %}" alt="Logo Mis perris">
                            </div>
                            <div class="direccion">
                                <a class = "enlaces" href="{% url 'principal' %}">Inicio</a>
                                <a class = "enlaces" href = "quienes_somos.html">Quienes somos </a>    
                                <a class = "enlaces" href = "servicios.html">Servicios</a>
                                <a class = "enlaces" href = "contacto.html">Contactenos</a> 
                            </div>
                        </nav>
                    </div>
            </header>
            <div>
                {% block content %}
                    <form method="POST" class="post-form">{% csrf_token %}
                        <div>
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="save btn btn-default button_registro">Iniciar sesión</button>
                    </form>
                {% endblock %}
            </div>
    </body>
</html>